.parameter{
    margin-top: -13px;
    padding: 0;
}
.dateContent{
    font-family: "Open Sans";
    font-size: 12px;
    margin: 4px;
    text-align: center;
}
.disable-picker{
    opacity: 0.7;
    pointer-events: none;
}

